USE [master]
GO
/****** Object:  Database [CPerfumeStore]    Script Date: 29/06/2024 2:32:55 CH ******/
CREATE DATABASE [CPerfumeStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CPerfumeStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CPerfumeStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CPerfumeStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CPerfumeStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CPerfumeStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CPerfumeStore]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 29/06/2024 2:32:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDONHANG]    Script Date: 29/06/2024 2:32:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONHANG](
	[MADH] [int] NOT NULL,
	[MASP] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETDONHANG] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETKM]    Script Date: 29/06/2024 2:32:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETKM](
	[MAKM] [char](7) NOT NULL,
	[MASP] [int] NOT NULL,
	[PHANTRAMKM] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETKM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 29/06/2024 2:32:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MADH] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [int] NOT NULL,
	[TRANGTHAI] [nvarchar](20) NULL,
	[DIACHIGIAO] [ntext] NULL,
	[SDT] [varchar](12) NULL,
	[NGAYDAT] [datetime2](7) NULL,
	[NGAYGIAO] [datetime2](7) NULL,
	[MOTA] [ntext] NULL,
	[TONGTIEN] [decimal](18, 0) NULL,
 CONSTRAINT [PK_DONHANG] PRIMARY KEY CLUSTERED 
(
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 29/06/2024 2:32:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[MATK] [int] NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[SDT] [varchar](12) NULL,
	[GIOITINH] [nvarchar](3) NULL,
	[DIACHI] [ntext] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 29/06/2024 2:32:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKM] [char](7) NOT NULL,
	[TENKM] [nvarchar](50) NULL,
	[NGAYBD] [datetime2](7) NULL,
	[NGAYKT] [datetime2](7) NULL,
 CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 29/06/2024 2:32:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MALOAISP] [char](7) NOT NULL,
	[TENLOAISP] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAISANPHAM] PRIMARY KEY CLUSTERED 
(
	[MALOAISP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAITK]    Script Date: 29/06/2024 2:32:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITK](
	[MALOAITK] [char](7) NOT NULL,
	[TENLOAITK] [nvarchar](20) NULL,
 CONSTRAINT [PK_LOAITK] PRIMARY KEY CLUSTERED 
(
	[MALOAITK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 29/06/2024 2:32:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [int] IDENTITY(1,1) NOT NULL,
	[MATH] [int] NOT NULL,
	[MALOAISP] [char](7) NULL,
	[TENSP] [nvarchar](500) NULL,
	[HINHLON] [nvarchar](500) NULL,
	[HINHNHO] [nvarchar](500) NULL,
	[MOTA] [ntext] NULL,
	[DANHGIA] [nvarchar](max) NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [decimal](18, 0) NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 29/06/2024 2:32:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MATK] [int] IDENTITY(1,1) NOT NULL,
	[MALOAITK] [char](7) NULL,
	[TENDN] [varchar](20) NULL,
	[MATKHAU] [varchar](max) NULL,
	[NGAYDANGKY] [datetime] NULL,
	[TRANGTHAI] [bit] NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUONGHIEU]    Script Date: 29/06/2024 2:32:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUONGHIEU](
	[MATH] [int] IDENTITY(1,1) NOT NULL,
	[TENTH] [nvarchar](50) NULL,
	[HINHTH] [nvarchar](50) NULL,
 CONSTRAINT [PK_THUONGHIEU] PRIMARY KEY CLUSTERED 
(
	[MATH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETDONHANG] ([MADH], [MASP], [SOLUONG]) VALUES (1, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[DONHANG] ON 

INSERT [dbo].[DONHANG] ([MADH], [MAKH], [TRANGTHAI], [DIACHIGIAO], [SDT], [NGAYDAT], [NGAYGIAO], [MOTA], [TONGTIEN]) VALUES (1, 4, N'Chờ xử lý', N'Hà Nội', N'123', CAST(N'2024-06-29T14:29:43.1471711' AS DateTime2), NULL, NULL, CAST(2588000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[DONHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [MATK], [TENKH], [EMAIL], [SDT], [GIOITINH], [DIACHI]) VALUES (3, 6, N'Chun', N'chun@gmail.com', N'123', N'Nữ', N'Hà Nội')
INSERT [dbo].[KHACHHANG] ([MAKH], [MATK], [TENKH], [EMAIL], [SDT], [GIOITINH], [DIACHI]) VALUES (4, 7, N'admin', N'admin@gmail.com', N'123', N'Nữ', N'Hà Nội')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
INSERT [dbo].[LOAISANPHAM] ([MALOAISP], [TENLOAISP]) VALUES (N'LP00001', N'Nước hoa')
INSERT [dbo].[LOAISANPHAM] ([MALOAISP], [TENLOAISP]) VALUES (N'LP00002', N'Mỹ phẩm')
GO
INSERT [dbo].[LOAITK] ([MALOAITK], [TENLOAITK]) VALUES (N'LK00001', N'Admin')
INSERT [dbo].[LOAITK] ([MALOAITK], [TENLOAITK]) VALUES (N'LK00002', N'User')
GO
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MASP], [MATH], [MALOAISP], [TENSP], [HINHLON], [HINHNHO], [MOTA], [DANHGIA], [SOLUONG], [DONGIA]) VALUES (3, 1, N'LP00001', N'Nước hoa Good Girl Legere for women', N'/images/sanpham1.webp', N'/images/sanpham1.webp', N'Good Girl Eau De Parfum Legere. Mùi hương này được đại diện cho tính cách nhiều khía cạnh của người phụ nữ. Good Girl Legere khá nổi bật với sự kết hợp khá nghịch ngợm giữa hoa huệ và đậu tonka rang.', N'1224', 13, CAST(2588000 AS Decimal(18, 0)))
INSERT [dbo].[SANPHAM] ([MASP], [MATH], [MALOAISP], [TENSP], [HINHLON], [HINHNHO], [MOTA], [DANHGIA], [SOLUONG], [DONGIA]) VALUES (4, 2, N'LP00001', N'Nước hoa Carolina Herrera 212 Heroes For Men EDT', N'/images/sanpham2.webp', N'/images/sanpham2.webp', N'212 Heroes là sáng tạo thơm mới nhất của dòng sản phẩm 212 trứ danh – được ra đời như một sự ngợi ca vẻ đẹp của tuổi trẻ - tôn vinh những giá trị của nghệ thuật đường phố đầy tự do và mang tính nguyên bản của thế hệ hiện đại.', N'56', 12, CAST(2327000 AS Decimal(18, 0)))
INSERT [dbo].[SANPHAM] ([MASP], [MATH], [MALOAISP], [TENSP], [HINHLON], [HINHNHO], [MOTA], [DANHGIA], [SOLUONG], [DONGIA]) VALUES (5, 3, N'LP00001', N'Nước hoa Ralph Lauren Polo Red Rush EDT', N'/images/sanpham3.webp', N'/images/sanpham3.webp', N'Ralph Lauren Polo Red Rush EDT là một mùi hương mới vừa được ra mắt của thương hiệu Ralph Lauren đình đám. Chai nước hoa được lấy cảm hứng từ tình yêu ô tô của Ralph Lauren, truyền nguồn năng lượng và sự tự do trên những con đường rộng mở.', N'2', 22, CAST(1493000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
GO
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([MATK], [MALOAITK], [TENDN], [MATKHAU], [NGAYDANGKY], [TRANGTHAI]) VALUES (6, N'LK00002', N'user', N'25d55ad283aa400af464c76d713c07ad', CAST(N'2024-06-04T17:25:05.140' AS DateTime), 1)
INSERT [dbo].[TAIKHOAN] ([MATK], [MALOAITK], [TENDN], [MATKHAU], [NGAYDANGKY], [TRANGTHAI]) VALUES (7, N'LK00001', N'admin', N'25d55ad283aa400af464c76d713c07ad', CAST(N'2024-06-05T09:32:52.267' AS DateTime), 1)
INSERT [dbo].[TAIKHOAN] ([MATK], [MALOAITK], [TENDN], [MATKHAU], [NGAYDANGKY], [TRANGTHAI]) VALUES (8, N'LK00002', N'chun', N'aa7f143bede06bcc8fba5bd830c6a2c8', CAST(N'2024-06-05T17:03:14.147' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
GO
SET IDENTITY_INSERT [dbo].[THUONGHIEU] ON 

INSERT [dbo].[THUONGHIEU] ([MATH], [TENTH], [HINHTH]) VALUES (1, N'Mỹ phẩm', N'')
INSERT [dbo].[THUONGHIEU] ([MATH], [TENTH], [HINHTH]) VALUES (2, N'Nước hoa', N'')
INSERT [dbo].[THUONGHIEU] ([MATH], [TENTH], [HINHTH]) VALUES (3, N'Nước hoa', N'')
SET IDENTITY_INSERT [dbo].[THUONGHIEU] OFF
GO
/****** Object:  Index [IX_CHITIETDONHANG_MADH]    Script Date: 29/06/2024 2:32:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_CHITIETDONHANG_MADH] ON [dbo].[CHITIETDONHANG]
(
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CHITIETKM_MAKM]    Script Date: 29/06/2024 2:32:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_CHITIETKM_MAKM] ON [dbo].[CHITIETKM]
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DONHANG_MAKH]    Script Date: 29/06/2024 2:32:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_DONHANG_MAKH] ON [dbo].[DONHANG]
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KHACHHANG_MATK]    Script Date: 29/06/2024 2:32:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_KHACHHANG_MATK] ON [dbo].[KHACHHANG]
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SANPHAM_MALOAISP]    Script Date: 29/06/2024 2:32:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_SANPHAM_MALOAISP] ON [dbo].[SANPHAM]
(
	[MALOAISP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SANPHAM_MATH]    Script Date: 29/06/2024 2:32:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_SANPHAM_MATH] ON [dbo].[SANPHAM]
(
	[MATH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TAIKHOAN_MALOAITK]    Script Date: 29/06/2024 2:32:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_TAIKHOAN_MALOAITK] ON [dbo].[TAIKHOAN]
(
	[MALOAITK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONHANG_DONHANG_MADH] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONHANG] ([MADH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CHITIETDONHANG_DONHANG_MADH]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONHANG_SANPHAM_MASP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CHITIETDONHANG_SANPHAM_MASP]
GO
ALTER TABLE [dbo].[CHITIETKM]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETKM_KHUYENMAI_MAKM] FOREIGN KEY([MAKM])
REFERENCES [dbo].[KHUYENMAI] ([MAKM])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETKM] CHECK CONSTRAINT [FK_CHITIETKM_KHUYENMAI_MAKM]
GO
ALTER TABLE [dbo].[CHITIETKM]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETKM_SANPHAM_MASP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETKM] CHECK CONSTRAINT [FK_CHITIETKM_SANPHAM_MASP]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_KHACHHANG_MAKH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_KHACHHANG_MAKH]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_TAIKHOAN_MATK] FOREIGN KEY([MATK])
REFERENCES [dbo].[TAIKHOAN] ([MATK])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_TAIKHOAN_MATK]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISANPHAM_MALOAISP] FOREIGN KEY([MALOAISP])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAISP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISANPHAM_MALOAISP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_THUONGHIEU_MATH] FOREIGN KEY([MATH])
REFERENCES [dbo].[THUONGHIEU] ([MATH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_THUONGHIEU_MATH]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_LOAITK_MALOAITK] FOREIGN KEY([MALOAITK])
REFERENCES [dbo].[LOAITK] ([MALOAITK])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_LOAITK_MALOAITK]
GO
USE [master]
GO
